<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>安伴鲜知后台管理系统-修改学校</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/base64.decode.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" id="data-form">
            {{.xsrfdata}}
            <input type="hidden" name="id" value="{{.record.Id}}">
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>所属省
                </label>
                <div class="layui-input-inline">
                    <select id="province" name="province_id" lay-filter="province" lay-verify="">
                        <option value="0">请选择省</option>
                        {{range .provinceList}}
                            <option value="{{.Id}}" {{if eq $.record.Province.Id .Id}}selected{{end}}>{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">

                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>所属市
                </label>
                <div class="layui-input-inline">
                    <select id="city" name="city_id" lay-filter="city" lay-verify="">
                        <option value="0">请选择市</option>
                        {{range .cityList}}
                            <option value="{{.Id}}" {{if eq $.record.City.Id .Id}}selected{{end}}>{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">

                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>所属区/县
                </label>
                <div class="layui-input-inline">
                    <select id="district" name="district_id" lay-verify="">
                        <option value="0">请选择区/县</option>
                        {{range .districtList}}
                            <option value="{{.Id}}" {{if eq $.record.District.Id .Id}}selected{{end}}>{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">

                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>学校名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" value="{{.record.Name}}" autocomplete="off" class="layui-input" lay-verify="">
                </div>
                <div class="layui-form-mid layui-word-aux">

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="do-submit" lay-submit="">修改</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer,
                canSubmit = true;

            form.on("select(province)", function (data) {
                var id = data.value;
                var xsrf = base64_decode(Cookies.get("_xsrf").split("|")[0]);
                $.ajax({
                    url: "/common/get_region_by_parent",
                    type: "POST",
                    data: {_xsrf: xsrf, id: id, level: 2},
                    success: function (res) {
                        $("#city").html(res);
                        $("#district").html("<option value='0'>请选择区/县</option>");
                        form.render("select");
                    }
                });
            });

            form.on("select(city)", function (data) {
                var id = data.value;
                var xsrf = base64_decode(Cookies.get("_xsrf").split("|")[0]);
                $.ajax({
                    url: "/common/get_region_by_parent",
                    type: "POST",
                    data: {_xsrf: xsrf, id: id, level: 3},
                    success: function (res) {
                        $("#district").html(res);
                        form.render("select");
                    }
                });
            });

            //监听提交
            form.on('submit(do-submit)',
                function (data) {

                    if ($("#province").val() <= 0) {
                        layer.msg("请选择所属省", {icon: 2});
                        return false;
                    }
                    if ($("#city").val() <= 0) {
                        layer.msg("请选择所属市", {icon: 2});
                        return false;
                    }
                    if ($("#district").val() <= 0) {
                        layer.msg("请选择所属区县", {icon: 2});
                        return false;
                    }
                    if ($("#name").val().length <= 0) {
                        layer.msg("请输入学校名称", {icon: 2});
                        return false;
                    }

                    if (!canSubmit) return false;
                    var loadIndex = layer.load();
                    canSubmit = false;

                    $.ajax({
                        url: "/admin/school/edit",
                        type: "POST",
                        data: $("#data-form").serialize(),
                        dataType: "json",
                        success: function (res) {

                            layer.close(loadIndex);
                            canSubmit = true;

                            if (res.status != 1) {
                                layer.msg(res.msg, {icon: 2});
                                return false;
                            }

                            layer.alert(res.msg, {icon: 6}, function () {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });

                        }
                    });

                    return false;

                });

        });
</script>
</body>

</html>
