<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>安伴后台管理系统-学校列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/base64.decode.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/admin">首页</a>
            <a><cite>学校</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="/admin/school" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-col-space5" id="search-form" method="post" action="/admin/school">
                        {{.xsrfdata}}
                        <div class="layui-inline layui-show-xs-block">
                            <select id="province" name="province_id" lay-verify="" lay-filter="province">
                                <option value="0">请选择省</option>
                                {{range .provinceList}}
                                    <option value="{{.Id}}" {{if eq $.provinceId .Id}}selected{{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select id="city" name="city_id" lay-verify="" lay-filter="city">
                                <option value="0">请选择市</option>
                                {{range .cityList}}
                                    <option value="{{.Id}}" {{if eq $.cityId .Id}}selected{{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select id="district" name="district_id" lay-verify="">
                                <option value="0">请选择区/县</option>
                                {{range .districtList}}
                                    <option value="{{.Id}}" {{if eq $.districtId .Id}}selected{{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="name" value="{{.name}}" placeholder="请输入学校名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                        <input type="hidden" name="p" id="cur-page" value="1">
                    </form>
                </div>
                <div class="layui-card-header">
                    {{/*<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>*/}}
                    <button class="layui-btn" onclick="xadmin.open('添加学校','/admin/school/add')"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>所属省</th>
                            <th>所属市</th>
                            <th>所属区/县</th>
                            <th>学校名称</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        {{range .recordList}}
                            <tr>
                                <td>{{.Id}}</td>
                                <td>{{.Province.Name}}</td>
                                <td>{{.City.Name}}</td>
                                <td>{{.District.Name}}</td>
                                <td>{{.Name}}</td>
                                <td class="td-manage">
                                    <a title="编辑" onclick="xadmin.open('编辑','/admin/school/edit/{{.Id}}')" href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="100" style="text-align: center;font-weight: bold;color: #ff6666;">没有数据</td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            {{str2html .paginator}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    layui.use(["form"], function () {

        $ = layui.jquery;
        var form = layui.form,
            xsrf = base64_decode(Cookies.get("_xsrf").split("|")[0]);

        $(".page").on("click", "a", function () {
            var n = $(this).attr("page-num");
            $("#cur-page").val(n);
            $("#search-form").submit();
        });

        form.on("submit(search)", function () {
            $("#cur-page").val(1);
            $("#search-form").submit();
        });

        form.on("select(province)", function (data) {
            var id = data.value;
            $.ajax({
                url: "/common/get_region_by_parent",
                type: "POST",
                data: {_xsrf: xsrf, id: id, level: 2},
                success: function (res) {
                    $("#city").html(res);
                    $("#district").html("<option value='0'>请选择区/县</option>");
                    form.render("select");
                }
            });
        });

        form.on("select(city)", function (data) {
            var id = data.value;
            $.ajax({
                url: "/common/get_region_by_parent",
                type: "POST",
                data: {_xsrf: xsrf, id: id, level: 3},
                success: function (res) {
                    $("#district").html(res);
                    form.render("select");
                }
            });
        });

    });

</script>
</html>